/* DEBUG */

.box {
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
}

header, footer {
    background-color: #2c3e50;
}

.portfolio {
    text-align: center;
}

.about {
    color: #fff;
}

.info {
    background-color: #3a546d;
}

.copyright {
    height: 100px; /*remove me*/
}

/* UTILITIES */

h1, h2 {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.star-sep {
    font-size: 2rem;
    line-height: 3rem;
}

.star-sep::before , 
.star-sep::after {
    content: "";
    display: inline-block;
    width: 150px;
    padding: 2px;
    background-color: currentColor;
    border-radius: 30px;
    vertical-align: middle;
}

.site-btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-radius: 10px;
}

.site-btn-outline-wht {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 10px;
    
}

/* HEADER */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
}

.main-header .site-brand {
    font-size: 1.5rem;
}
.main-header .site-navbar .menu-link{
    color: white;
}

.main-header .site-navbar a.menu-link:hover {
    color: #1abc9c;
}

/* HERO */

.hero {
    padding-top: 150px;
    color: #fff;
}

.hero-img img {
    width: 300px;
}

.hero .subtitle {
    font-size: 2rem;
}

/* PORTFOLIO SECTION */

.site-card img {
    max-width: 100%;
    border-radius: 15px;
}

/* CONTACT SECTION */

.site-form input[type=email],
.site-form input[type=number],
.site-form input[type=text],
.site-form textarea {
    border: 0;
    border-bottom: 2px solid #ccc;
}

.site-form input[type=email]:focus,
.site-form input[type=number]:focus,
.site-form input[type=text]:focus,
.site-form textarea:focus {
    border-color: black;
    box-shadow: none;
}

.site-form input[type=email],
.site-form input[type=number],
.site-form input[type=text] {
    height: 50px;
    padding: 0;
}

.site-form textarea {
    padding: 0;
}

.site-form ::placeholder {
    color: black;
    font-size: 1.2rem;
}

/* BACKGROUNDS */

.bg-sky-fw {
    background-color: #1abc9c;
}

.bg-pink {
    background-color: #ba4b63;
}

.bg-sky {
    background-color: #1ea4b6;
}

.bg-black {
    background-color: #140f0f;
}

.bg-lightblue {
    background-color: #1c83c1;
}

.bg-blue {
    background-color: #0e38b5;
}

.bg-grey {
    background-color: #ccb2a3;
}